:root {
    color-scheme: light dark;
}

.default-theme {
	--tooltip-bg: #5e85a4;
	--tooltip-text: #fff;
}

html {
    background: light-dark(#efefef, #464646);
}

body {
    color: light-dark(#333, #c1c1c1);
    font-family: "Open Sans",sans-serif;
    font-size: 13px;

}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    background-color: light-dark(#fff, #2f2f2f);
    padding: 2.5em;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px light-dark(rgba(60, 72, 88, 0.15), rgba(0, 0, 0, 0.4)) !important;
    box-shadow: 0 0 10px light-dark(rgba(60, 72, 88, 0.15), rgba(0, 0, 0, 0.4)) !important;
}

.text-column {
    overflow: auto;
    margin-left: 1em;
    border-left: 1px solid light-dark(#eeeeee, #626262);
    font-size: 12px;
    color: light-dark(#7c7c7c, #c4c4c4);
	align-items: center;
	display: none;
}

.terms {
	display: none;
    max-width: 35em;
    min-width: 250px;
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

form div {
    padding: 0;
}

#login_form {
    margin-top: 1em;
    max-width: 25em;
}

#login_form .input-wrapper input {
    border-radius: 5px;
}
#login_form .input-wrapper input[name=username] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#login_form .input-wrapper input[name=password] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0px;
}

#login_form #app_otp {
    text-align: center;
    font-size: 14pt;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.input-wrapper i.fa {
    position: absolute;
    padding: 11px;
    color: light-dark(#3b4b5860, #aac3d760);
}

#window {
	width: 450px;
	height: 100%;
	display: flex;
	flex-direction: column;
  	justify-content: space-between;
}

#window table,
#window div table {
	border-collapse: collapse;
	width: 100%;
}

#window table th {
	text-align: right;
}

#window div table th {
	text-align: left;
}

#window table td:not(.status),
#window div table td:not(.status) {
	padding: 2px 1em !important;
    width: 275px;
}

#window p {
	width: 100%;
    text-align: center;
}

.button-wrapper {
    margin-top: 1em;
}

div input[type=text], div input[type=password], div input[type=email] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    height: 32px;
    resize: none;
    width: calc(100% - 5.2em);
    background-color: light-dark(#fff, #404040);
    border: 1px solid light-dark(#E0E0E0, #313131);
    padding-left: 2.5em;
    padding-right: 2.5em;
}

div textarea {
    background-color: light-dark(#fff, #404040);
    border: 1px solid light-dark(#E0E0E0, #313131);
	padding: 5px;
	width: 98%;
}

div input[type=text]:focus, div input[type=password]:focus, div textarea:focus {
	outline: none;
}

/* div#window input {
	padding-left: 1em;
	padding-right: 1em;
} */

div.progress-bar {
	margin: 5px;
	overflow: hidden;
}

div.progress-bar > div > div {
	margin: 15px;
	align-content: center;
}

div.progress-bar > div > div:last-child {
	margin: 15px 0px;
}

div.progress-bar .step-number {
    font-size: 19px;
	width: 48px; /* Set this to slightly wider than the longest string */
	align-items: center;  
	justify-content: center;
	aspect-ratio: 1 / 1;
	border-radius: 50%;  
	border: 2px solid #666;
	height: 4.4ch;
}
div.progress-bar .step {
    font-size: 1.5em;
}

div.progress-bar .active,
div.progress-bar .active .step-number {
	color: light-dark(#3b8dbc, #fff);
	border-color: light-dark(#3b8dbc, #276a91);
	font-weight: bold;
}

div.progress-bar .complete,
div.progress-bar .complete .step-number {
	color: light-dark(#ddd, #464646);
	border-color: light-dark(#ddd, #464646);
}

p {
    padding-bottom: 2px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: light-dark(#a0a0a0, #b0b0b0);
}

code {
    font-size: 14px;
}

#logo {
    text-align: center;
}

strong {
    color: light-dark(red, #e66464);
    font-size: 10pt;
}

.button {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-size: 12px;
    background: light-dark(#3b8dbc, #276a91);
    border: 1px solid light-dark(#E0E0E0, #313131);
    color: light-dark(#fff, #fff);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    line-height: 33px;
}

.button.grey {
    background: light-dark(#3b8dbc, #375160);
    border: 1px solid light-dark(#E0E0E0, #313131);
    color: #dbdbdb;
}

.button.disabled {
    background: light-dark(#3b8dbc, #375160);
    border: 1px solid light-dark(#E0E0E0, #313131);
    color: light-dark(#fff, #a0a0a0);
	cursor: not-allowed;
}

.button.alert {
    color: #FC7E7E;
}

.fm-branding {
    color: light-dark(#3b4b58, #d2d2d2);
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: .5em 0em;
}

.fm-branding img {
    height: 48px;
}

.fm-branding i.fa {
	margin-right: .5em;
}

.fm-branding span {
    font-size: 20px;
}

#footer {
    display: none;
}


#forgotton_link {
    margin: 1em 0 0;
    text-align: center;
}
#forgotton_link a {
    font-size: 8pt;
}

#message {
    max-height: 310px;
    overflow-y: scroll;
    margin: 1em 0 0;
    color: light-dark(#7c7c7c, #c1c1c1);
    text-align: center;
}

.message {
    text-align: center;
}
.message:first-of-type {
    margin-bottom: 1em;
}

.more-options {
	font-size: 8pt;
	margin-top: 2em;
	cursor: pointer;
}
#more_options {
    display: none;
}

.success {
    max-height: 11em;
    text-align: center;
}

.failed,
#message.failed {
    color: light-dark(#b95757, #e67e7e);
}

#window #message {
	max-width: unset;
}

.text-column p {
    text-align: unset;
    padding-left: 1em;
    margin-top: 0;
    max-height: 25em;
}
.terms-accept {
    color: light-dark(#7c7c7c, #c1c1c1);
}

i.ok {
    color: light-dark(#09a30c, #09a30c);
}
i.fail {
    color: light-dark(#c11515, #c11515);
}

#show_password {
    margin-left: 18.5em;
    cursor: pointer;
}

form div div#passwd_check {
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 231px;
	text-align: center;
}

.form-table tr.pwdhint th, .form-table tr.pwdhint td {
	font-size: 8pt;
	vertical-align: top;
}

.copyright {
    text-align: center;
    font-size: 10px;
    color: light-dark(#a0a0a0, #a0a0a0);
}
.copyright a {
    color: light-dark(#3b8dbc, #66a1c4);
}

.error-message {
	margin-left: 3px;
}